# User settings
*.user
*.vcxproj.filters
*.htm
.vscode

# Windows files
x64
.vs

# Temp files
build
*logs.txt
CMake*
Makefile
cmake*
tests\*\build\
**obj
**bin
**Properties

# Custom
.editorconfig

# libss

build/*

.vscode/*

output.txt


src/GetgudSDK.dir/*
GetgudSDK.vcxproj

*.dem
examples/python/move-title-data/*